<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\Programmes\vivid-stasis-Custom-Courses\target\CustomCourses-1.0-SNAPSHOT.jar</jar>
  <outfile>D:\Applications\vivid stasis Custom Courses\vivid stasis Custom Courses.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>D:\Programmes\CustomCourses\src\main\resources\images\icon.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>true</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>24</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>