/* Colors List
black : #000000 (used for lateral Pane, Tab Header, Buttons and background of ComboBox)
dark gray : #222222 (used for overall background color)
light gray : #DDDDDD (used for dynamic content texts/borders)
white : #FFFFFF (used for Buttons hovering, and text for selected TabRow)
*/

/* Main CSS Lateral Pane */

#rootPane {
    -fx-background-color: #000000;
    -fx-text-fill: #DDDDDD;
}

.button {
    -fx-background-color: #000000;
    -fx-text-fill: #DDDDDD;
}

.button:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #222222;
}

.button.settingsBox{
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

#versionLabel {
    -fx-font-size: 8;
    -fx-text-fill: #DDDDDD;
}

/* CSS Scrollbar */

Region, .corner{
    -fx-background-color: #222222;
    -fx-border-color: transparent;
}

.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #DDDDDD;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb{
    -fx-background-color: #DDDDDD;
    -fx-background-insets: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #DDDDDD;
}

/* Main CSS Zone contenu dynamique */

#mainContent {
    -fx-background-color: #222222;
    -fx-text-fill: #DDDDDD;
}

/* Courses CSS */

#coursePane{
    -fx-background-color: #222222;
}

#courseListContainer{
    -fx-background-color: #222222;
}

/* Courses CSS Course Box */

.courseBox {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.courseBox Label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* Courses Details CSS */

#courseDetailsBox, #detailsCourseGrid, #detailsScrollPane{
    -fx-background-color: #222222;
}

.detailsCourseTitle{
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.detailsCourseIndicators{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.detailsGridPane {
    -fx-alignment: center;
}

.detailGridCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 0 2;
    -fx-border-style: solid;
}

.detailRightCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 2 0 2;
    -fx-border-style: solid;
}

.topCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 2 0 2;
    -fx-border-style: solid;
    -fx-border-radius: 10 10 0 0;
}

.bottomLeftCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 2 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 0 10;
}

.bottomRightCell {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 10 0;
}

.musicTitle {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.detailGridCell Label, .detailRightCell Label {
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.detailScoreLabel{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

.detailScoreCell{
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 2 2;
    -fx-border-style: solid;
}

#detailsBackButton{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Save Score CSS */

#saveScrollPane {
    -fx-background-color: #222222;
}

#saveScoresPane{
    -fx-background-color: #222222;
}

.scoreLabel {
    -fx-text-fill: #DDDDDD;
}

.entryScore{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

.summaryEntryScore {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 0 0;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

/* Save Scores Entry CSS */

.scoresButton {
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

.scoresButton:hover{
    -fx-text-fill: #DDDDDD;
}

.scoresButton:hover .radio{
    -fx-background-color: #FFFFFF;
}

.scoresButton:selected{
    -fx-text-fill: #DDDDDD;
}

.scoresButton:selected .radio {
    -fx-background-color: #FFFFFF;
}

.scoresButton:selected .radio .dot{
    -fx-background-color: transparent;
}

.scoresButton:selected:hover{
    -fx-text-fill: #DDDDDD;
}

.scoreEntryGrid {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.borderCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 0 0 2 0;
}

.scoreEntryGrid .text-field {
    -fx-background-color: #222222;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 0 0 2 0;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-alignment: center;
    -fx-prompt-text-fill: #000000;
}

/* Save Score Summary CSS */

.summaryMusicCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 0 0;
}

.summaryTitleCourse {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.summaryCourseIndicators{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* Musics CSS */

#musicPane{
    -fx-background-color: #222222;
}

#musicPane .split-pane-divider{
    -fx-background-color: #FFFFFF;
}

/* Musics CSS Tab */

#musicTable {
    -fx-background-color: #222222;
    -fx-font-weight: bold;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 2 0 2 2;
    -fx-border-color: #FFFFFF;
}

#musicTable .column-header, #musicTable .column-header .label {
    -fx-background-color: #000000;
    -fx-text-fill: #DDDDDD;
}

#musicTable .table-row-cell {
    -fx-background-color: #222222;
}

#musicTable .table-cell {
    -fx-text-fill: #DDDDDD;
}

#musicTable .table-row-cell:selected .table-cell {
    -fx-background-color: #DDDDDD;
    -fx-border-color: #DDDDDD;
    -fx-text-fill: #222222;
}

/* Musics CSS Details Grid */

#musicScrollPane, #musicDetailsPane{
    -fx-background-color: #222222;
}

.musicGridPane {
    -fx-alignment: center;
}

.musicGridCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 0 2;
    -fx-border-style: solid;
}

.musicGridCellTop {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 2 0 2;
    -fx-border-style: solid;
    -fx-border-radius: 10 10 0 0;
}

.musicGridCellBottom {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 2 2;
    -fx-border-style: solid;
}

.musicGridCellBottomLarge {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 10 10;
}

.musicGridCellBottomRight {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 10 0;
}

.musicGridCellBottomLeft {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 2 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 0 10;
}

.musicGridRightCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 2 0 2;
    -fx-border-style: solid;
}

.musicGridCell Label, .musicGridRightCell Label, .musicGridCellTop Label, .musicGridCellBottom Label, .musicGridCellBottomLarge Label, .musicGridCellBottomLeft Label, .musicGridCellBottomRight Label {
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* History CSS */

#historyPane {
    -fx-background-color: #222222;
}

/* History CSS Tab */

#courseHistoryTable {
    -fx-background-color: #222222;
    -fx-font-weight: bold;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: #FFFFFF;
}

#courseHistoryTable .column-header, #courseHistoryTable .column-header .label {
    -fx-background-color: #000000;
    -fx-text-fill: #DDDDDD;
}

#courseHistoryTable .table-row-cell {
    -fx-background-color: #222222;
}

#courseHistoryTable .table-cell {
    -fx-text-fill: #DDDDDD;
}

#courseHistoryTable .table-row-cell:selected .table-cell {
    -fx-background-color: #DDDDDD;
    -fx-border-color: #DDDDDD;
    -fx-text-fill: #222222;
}

/* History Details CSS */

#detailsScrollPane, #scoresDetailsPane {
    -fx-background-color: #222222;
}

.bgReapply {
    -fx-background-color: #222222;
}

.scoresGridPane {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.historyMusicCell {
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 0 0;
}

.historyTitleCourse {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.historyCourseIndicators{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.historyGridPane {
    -fx-alignment: center;
}

.historyLabel {
    -fx-text-fill: #DDDDDD;
}

.historyScore{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

.filterLabel{
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

.summaryHistoryScore{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2 0 0 0;
}

.summaryScoreLabel {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

/* Settings CSS */

.settingsLabel{
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

.combo-box .list-view {
    -fx-background-color: #000000;
}

.combo-box .list-cell {
    -fx-font-weight: normal;
    -fx-background-color: #000000;
    -fx-text-fill: #DDDDDD;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #000000;
    -fx-text-fill: #DDDDDD;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #222222;
}

.combo-box .arrow-button {
    -fx-background-color: #000000;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #DDDDDD;
}

.combo-box:hover, .combo-box .arrow-button:hover {
    -fx-background-color: #FFFFFF;
}

.combo-box .arrow-button:hover .arrow {
    -fx-background-color: #222222;
}

/* Personalized Alerts CSS */

.personalizedPopup {
    -fx-background-color: #FFFFFF;
}

.personalizedPopup .label {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #000000;
}