/* Colors List
light purple : #B34BC1 (used for lateral Pane, Tab Header, Buttons and background of ComboBox)
pink : #CE4EAC (used for overall background color and text for selected TabRow)
purple mauve : #6B1A60 (used for dynamic content texts/borders)
dark purple : #893BB7 (used for Buttons hovering)
*/


/* Main CSS Lateral Pane */

#rootPane {
    -fx-background-color: #B34BC1;
    -fx-text-fill: #DDDDDD;
}

.button {
    -fx-background-color: #B34BC1;
    -fx-text-fill: #DDDDDD;
}

.button:hover {
    -fx-background-color: #893BB7;
}

.button.settingsBox{
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

#versionLabel {
    -fx-font-size: 8;
    -fx-text-fill: #DDDDDD;
}

/* CSS Scrollbar */

Region, .corner{
    -fx-background-color: #CE4EAC;
    -fx-border-color: transparent;
}

.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #6B1A60;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb{
    -fx-background-color: #6B1A60;
    -fx-background-insets: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #6B1A60;
}

/* Main CSS Zone contenu dynamique */

#mainContent {
    -fx-background-color: #CE4EAC;
    -fx-text-fill: #222222;
}

/* Courses CSS */

#coursePane{
    -fx-background-color: #CE4EAC;
}

#courseListContainer{
    -fx-background-color: #CE4EAC;
}

/* Courses CSS Course Box */

.courseBox {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.courseBox Label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.courseScoreCell{
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 0 2;
    -fx-border-style: solid;
}

.courseScoreLeftCell{
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 0 0;
    -fx-border-style: solid;
}

/* Courses Details CSS */

#courseDetailsBox, #detailsCourseGrid, #detailsScrollPane{
    -fx-background-color: #CE4EAC;
}

.detailsCourseTitle{
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.detailsCourseIndicators{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.detailsGridPane {
    -fx-alignment: center;
}

.detailGridCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 0 2;
    -fx-border-style: solid;
}

.detailRightCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 2 0 2;
    -fx-border-style: solid;
}

.topCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 2 0 2;
    -fx-border-style: solid;
    -fx-border-radius: 10 10 0 0;
}

.bottomLeftCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 2 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 0 10;
}

.bottomRightCell {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 10 0;
}

.musicTitle {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.detailGridCell Label, .detailRightCell Label {
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.detailScoreLabel{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
}

.detailScoreCell{
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 2 2;
    -fx-border-style: solid;
}

#detailsBackButton{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Save Score CSS */

#saveScrollPane {
    -fx-background-color: #CE4EAC;
}

#saveScoresPane{
    -fx-background-color: #CE4EAC;
}

.scoreLabel {
    -fx-text-fill: #6B1A60;
}

.entryScore{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
}

.summaryEntryScore {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 0 0;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
}

/* Save Scores Entry CSS */

.scoresButton {
    -fx-font-weight: bold;
    -fx-text-fill: #DDDDDD;
}

.scoresButton:hover{
    -fx-text-fill: #6B1A60;
}

.scoresButton:hover .radio{
    -fx-background-color: #893BB7;
}

.scoresButton:selected{
    -fx-text-fill: #6B1A60;
}

.scoresButton:selected .radio {
    -fx-background-color: #893BB7;
}

.scoresButton:selected .radio .dot{
    -fx-background-color: transparent;
}

.scoreEntryGrid {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.borderCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 0 0 2 0;
}

.scoreEntryGrid .text-field {
    -fx-background-color: #CE4EAC;
    -fx-border-color: #6B1A60;
    -fx-border-width: 0 0 2 0;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-alignment: center;
    -fx-prompt-text-fill: #B54199;
}

/* Save Score Summary CSS */

.summaryMusicCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 0 0;
}

.summaryTitleCourse {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.summaryCourseIndicators{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* Musics CSS */

#musicPane{
    -fx-background-color: #CE4EAC;
}

#musicPane .split-pane-divider{
    -fx-background-color: #893BB7;
}

/* Musics CSS Tab */

#musicTable {
    -fx-background-color: #CE4EAC;
    -fx-font-weight: bold;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 2 0 2 2;
    -fx-border-color: #893BB7;
}

#musicTable .column-header, #musicTable .column-header .label {
    -fx-background-color: #B34BC1;
    -fx-text-fill: #DDDDDD;
}

#musicTable .table-row-cell {
    -fx-background-color: #CE4EAC;
}

#musicTable .table-cell {
    -fx-text-fill: #6B1A60;
}

#musicTable .table-row-cell:selected .table-cell {
    -fx-background-color: #6B1A60;
    -fx-border-color: #6B1A60;
    -fx-text-fill: #CE4EAC;
}

/* Musics CSS Details Grid */

#musicScrollPane, #musicDetailsPane{
    -fx-background-color: #CE4EAC;
}

.musicGridPane {
    -fx-alignment: center;
}

.musicGridCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 0 2;
    -fx-border-style: solid;
}

.musicGridCellTop {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 2 0 2;
    -fx-border-style: solid;
    -fx-border-radius: 10 10 0 0;
}

.musicGridCellBottom {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 2 2;
    -fx-border-style: solid;
}

.musicGridCellBottomLarge {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 10 10;
}

.musicGridCellBottomRight {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 10 0;
}

.musicGridCellBottomLeft {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 2 2;
    -fx-border-style: solid;
    -fx-border-radius: 0 0 0 10;
}

.musicGridRightCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 2 0 2;
    -fx-border-style: solid;
}

.musicGridCell Label, .musicGridRightCell Label, .musicGridCellTop Label, .musicGridCellBottom Label, .musicGridCellBottomLarge Label, .musicGridCellBottomLeft Label, .musicGridCellBottomRight Label {
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* Random Select CSS*/

#randomSelectPane, #randomSelectContent, #randomMusicContent, #randomCourseContent, #randomLegacyContent {
    -fx-background-color: #CE4EAC;
}

.randomDynamicContainer {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.randomTitle {
    -fx-text-fill: #6B1A60;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.randomOtherLabel {
    -fx-text-fill: #6B1A60;
    -fx-font-size: 14;
    -fx-alignment: center;
}

#selectButtonMusic, #selectButtonCourse, #selectButtonLegacy {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Random Select Spinner CSS */

.spinner {
    -fx-background-color: #CE4EAC;
    -fx-border-color: #6B1A60;
}

.spinner .text-field {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-background-color: #CE4EAC;
    -fx-border-color: #6B1A60;
    -fx-alignment: center;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #CE4EAC;
    -fx-border-color: #6B1A60;
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: #6B1A60;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #6B1A60;
}

.spinner .increment-arrow-button:hover .increment-arrow,
.spinner .decrement-arrow-button:hover .decrement-arrow {
    -fx-background-color: #CE4EAC;
}

/* Random Course/Legacy CheckBox CSS */

.check-box {
    -fx-text-fill: #222222;
    -fx-font-weight: bold;
}

.check-box .box {
    -fx-background-color: #CE4EAC;
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.check-box:hover {
    -fx-text-fill: #6B1A60;
}

.check-box:hover .box {
    -fx-background-color: #893BB7;
}

.check-box:selected{
    -fx-text-fill: #6B1A60;
}

.check-box:selected .box {
    -fx-background-color: #6B1A60;
}

.check-box:selected .mark {
    -fx-background-color: #CE4EAC;
}

.check-box:selected:hover{
    -fx-text-fill: #222222;
}

.check-box:selected:hover .mark {
    -fx-background-color: #893BB7;
}

.check-box .text {
    -fx-font-weight: bold;
}

/* History CSS */

#historyPane {
    -fx-background-color: #CE4EAC;
}

/* History CSS Tab */

#courseHistoryTable {
    -fx-background-color: #CE4EAC;
    -fx-font-weight: bold;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: #893BB7;
}

#courseHistoryTable .column-header, #courseHistoryTable .column-header .label {
    -fx-background-color: #B34BC1;
    -fx-text-fill: #DDDDDD;
}

#courseHistoryTable .table-row-cell {
    -fx-background-color: #CE4EAC;
}

#courseHistoryTable .table-cell {
    -fx-text-fill: #6B1A60;
}

#courseHistoryTable .table-row-cell:selected .table-cell {
    -fx-background-color: #6B1A60;
    -fx-border-color: #6B1A60;
    -fx-text-fill: #CE4EAC;
}

/* History Details CSS */

#detailsScrollPane, #scoresDetailsPane {
    -fx-background-color: #CE4EAC;
}

.bgReapply {
    -fx-background-color: #CE4EAC;
}

.scoresGridPane {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.historyMusicCell {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 0 0;
}

.historyTitleCourse {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.historyCourseIndicators{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.historyGridPane {
    -fx-alignment: center;
}

.historyLabel {
    -fx-text-fill: #6B1A60;
}

.historyScore{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
}

.filterLabel{
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
}

.summaryScoreLabel{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1A60;
}

.summaryHistoryScore{
    -fx-border-color: #6B1A60;
    -fx-border-width: 2 0 0 0;
}

/* Settings CSS */

.settingsLabel{
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
}

.combo-box .list-view {
    -fx-background-color: #B34BC1;
}

.combo-box .list-cell {
    -fx-font-weight: normal;
    -fx-background-color: #B34BC1;
    -fx-text-fill: #DDDDDD;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #B34BC1;
    -fx-text-fill: #DDDDDD;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #893BB7;
    -fx-text-fill: #DDDDDD;
}

.combo-box .arrow-button {
    -fx-background-color: #B34BC1;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #DDDDDD;
}

.combo-box:hover, .combo-box .arrow-button:hover {
    -fx-background-color: #893BB7;
}

.titleBox {
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.titleBox Label {
    -fx-text-fill: #6B1A60;
}

.titleBoxNavButton {
    -fx-background-color: #CE4EAC;
    -fx-text-fill: #6B1A60;
}

.titleBoxNavButton:hover {
    -fx-background-color: #6B1A60;
    -fx-text-fill: #CE4EAC;
}

.titleListPane {
    -fx-background-color: #CE4EAC;
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.titleListBox {
    -fx-background-color: #CE4EAC;
}

.titleListText {
    -fx-text-fill: #6B1A60;
    -fx-font-weight: bold;
}

.titleListObject {
    -fx-background-color: #CE4EAC;
}

.titleListObjectSelected {
    -fx-background-color: #6B1A60;
}

.titleListObjectSelected .titleListText {
    -fx-text-fill: #CE4EAC;
}

/* Personalized Alerts CSS */

.personalizedPopup {
    -fx-background-color: #893BB7;
}

.personalizedPopup .label {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #F8C4DA;
}

/* Info CSS */

#infoScrollPane{
    -fx-background-color: #CE4EAC;
}

#textArea {
    -fx-background-color: #CE4EAC;
    -fx-border-color: #6B1A60;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.normalLabel, .listLabel, .lienLabel, .listNoTabLabel, .titleLabel, .subTitleLabel, .versionLabel {
    -fx-fill: #6B1A60;
}

.listLabel, .lienLabel, .listNoTabLabel {
    -fx-font-style: italic;
}

.titleLabel, .versionLabel, .subTitleLabel {
    -fx-font-weight: bold;
}

.listLabel, .lienLabel, .listNoTabLabel {
    -fx-font-size: 12;
    -fx-underline: false;
}

.normalLabel {
    -fx-font-size: 16;
}

.titleLabel {
    -fx-font-size: 20;
}

.subTitleLabel {
    -fx-font-size: 18;
}

.versionLabel {
    -fx-font-size: 24;
}

.hiddenLabel {
    -fx-font-size: 16;
    -fx-fill: #CE4EAC;
}

.hiddenLabel:hover {
    -fx-fill: #B54199;
}

.lienLabel:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}